body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14pt;
    background-color: #fafafa;
}

#top-menu {
    background-color: #157c70;
    padding: 0px;
    width: 100%;
    margin: 0px;
    align-items: center;
}

#top-menu-exec-logo {
    padding-left: 25px;
    width: 25%;
    height: 75px;
    filter: brightness(0) invert(1);
}

h1 {
    font-weight: bold;
    color: white;
    padding-left: 20px;
    width: 25%;
}

.top-menu-item {
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    font-size: 14pt;
    cursor: pointer;
    border-radius: 25px;
    height: 45px;
}

.top-menu-item:hover {
    background-color: #ffffff55;
}

.top-menu-item.selected-item {
    color: #142062;
    background-color: white;    
}

.selected-icon {
    filter: brightness(0) saturate(100%) invert(12%) sepia(94%) saturate(1827%) hue-rotate(221deg) brightness(82%) contrast(101%);
}

.screen {
    display: flex;
    align-items: center;
}

#nisra-logo {
    height: 100px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 2vh;
    margin-right: 2vh;
}

h2 {
    font-size: 26pt;
    color: #142062;
}

.content-centre {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
}

#main-container {
    width: 1200px;
}



#domains-grid-container {
    width: 700px;
}

#domain-info {
    width: 900px;
    padding-left: 20px;
}

#seeds-label {
    background-color: #142062;
    padding: 5px;
    color: #ffffff;
    border-radius: 5px;
    font-size: 14pt;
    width: 200px;
    text-align: center;
    margin-left: 50px;
}

.blue-label {
    background-color: #142062;
    padding: 5px;
    color: #ffffff;
    border-radius: 25px;
    font-size: 14pt;
    text-align: center;
    margin-left: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-box {
    background-color: white;
    padding: 10px;
    color: #000;
    border-radius: 25px;
    font-size: 12pt;
    text-align: left;
    margin: 10px;
    width: 860px;
    display: flex;
    align-items: center;
}

.grey-box {
    background-color: #e8e8e8;
    width: 400px;
    border-radius: 25px;
    margin-left: 20px;
    padding: 10px;  
}

#desc-container {
    display: flex;
    align-items: center;
}

#click-to-see {
    width: 100px;
    text-align: center;
}

.hex {
    height: 200px;
    width: 200px;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    background-color: #142062;
    color: #ffffff;
    position: relative;
    cursor: pointer;
  }

  .hex .hex-inner {
    position: absolute;
    top: 4px;
    left: 4px;
    background-color: #157c70;
    width: 192px;
    height: 192px;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    font-size: 18pt;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
  }

#domain-intro {
    margin-bottom: 15px;
    text-align: left;
}

#indicators-intro {
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    display: none;
    width: 1200px;
}

.back-button {
    background-color: #353535;
    color: white;
    width: 100px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.back-button:hover {
    background-color: #454545;
}

.shake-hex:hover {
    animation: shake 1.5s;
    animation-iteration-count: infinite;
    filter: saturate(80%);
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

.ind-hex-container {
   height: 150px;
   width: 150px;
   position: relative;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   cursor: pointer;
}

.ind-hex-container:hover {
    filter: saturate(65%);
}

.ind-hex {
    height: 150px;
    width: 150px;
    -webkit-clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    clip-path: polygon(50% 0%, 95% 25%, 95% 75%, 50% 100%, 5% 75%, 5% 25%);
    background-color: #ff914d;
    color: #ffffff55;
    font-size: 100px;    
  }

.ind-hex.positive {
    background-color: #00bf63;
}

.ind-hex.negative {
    background-color: #ff3131;
}

.ind-hex-label {
    position: absolute;
    color: #ffffff;
    font-size: 12pt;
    line-height: 1em;
    padding: 10px;
    font-weight: bold;
}

#indicator-title {
    margin-left: 20px;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
}

.pxwidget-canvas-wrapper {
    height: 40vh !important;
    width: 700px;
}